<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
</head>
<body>
<section layout:fragment="contentHeader">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Category</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="/admin/category">Category List</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section layout:fragment="content">
    <div class="container-fluid">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Category List</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <a href="/admin/category/new" class="btn btn-primary btn-sm"
                   style="margin-bottom: 10px"
                   data-toggle="tooltip" title="Create New Category">Create New Category</a>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>#</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${list}">
                        <td th:text="${item.getId()}"></td>
                        <td th:text="${item.getName()}"></td>
                        <td><a th:href="${'/admin/category/' + item.getId() + '/delete'}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script layout:fragment="script-area">
    $(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $('table').DataTable();
    });
</script>
</body>
</html>